<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>New Listing
</head>
<body>
    <form action="/listings" method="POST">
        <input type="text" name="title" placeholder="Enter the title" required>
        <textarea name="description" id="" row="10" col="20"></textarea>
        <input type="number" name="price" required>
        <input type="text" name="location">
        <input type="text" name="country">
        <button>Create</button>
    </form>
    
</body>
</html>