body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
    flex:1;
}
.navbar {
  height: 5rem;
  background-color: rgb(188, 181, 181);
}
.fa-solid {
  color: rgb(202, 5, 5);
  font-size: 2rem;
}
.nav-item a {
  font-size: 1.5 rem;
  color: black !important;
}

.nav-title {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer {
  height: 8rem;
  background-color: rgb(222, 218, 218);
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
}

.f-info-links,
.f-info-socials,
.f-info-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.f-info-links a {
  text-decoration: none;
  color: black;
}
.f-info-links a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

/* cards */
.card-link,.card {
  margin: 1rem;
  border: none !important;
  height: 20rem !important;
  width: 18rem;
  text-decoration: none;
}
.card-img-top:hover {
  opacity: 0.8;
}
.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 80%;
  border-radius: 1rem 1rem 0 0;
}
.card-body {
  padding-left: 0;
}

/* CSS */
.fa-heart-btn {
  position: absolute;
  right: 3rem;
  top: 1rem;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.fa-heart-btn i {
  font-size: 1rem;
  position: absolute;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.heart-outline {
  color: rgb(58, 56, 56);
  opacity: 1;
  font-weight: 50;
}
.heart-solid {
  color: rgb(186, 0, 0);
  opacity: 0;
  transform: scale(0.9);
}

.fa-heart-btn:hover .heart-outline {
  opacity: 0;
  transform: scale(0.9);
}
.fa-heart-btn:hover .heart-solid {
  opacity: 1;
  transform: scale(1);
}

.new-form{
   margin:2rem 0rem;
}
.add-btn{
    border:0;
    background-color: rgb(186, 0, 0) ;
    color:white;
    width:7rem;
    height:2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}
/* SHOW CARD */
.show-card{
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.show-img{
    /* width:60%; */
    border-radius: 1rem;

}
.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.show-text{
    display: flex;
    flex-direction: column;
    gap:1rem !important;
}
.btn-group{
    width:100%;
    display: flex;
    height:2.5rem;
    
}

.btn-group button{
   
    border: 0;
    transition: all 0.3s ease-in;
    font-weight: 500;
    width:100%;
    height:100%;
    
    font-weight: 500;
     border:1px solid rgb(186, 0, 0);
   
   
}
.e-btn,.d-btn{
      width:50%;
    flex:1;
  
}
.e-btn button{
    background-color: rgb(186, 0, 0);
    color:white;
    
}
.d-btn button{
    background-color: white;
   
    color: rgb(186, 0, 0)
}
.fa-location-dot{
    font-size: 1.2rem;
    color:black;
}
