<% layout("/layouts/boilerplate.ejs") %>


   <div class="col-4 offset-4 mt-5 signup-form">
   
    <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div >
            <label for="username" class="form-label"> Username </label>
            <input type="text" name="username" class="form-control" required>
          
           
            
        </div>
        <div >
            <label for="email" class="form-label">Email</label><br>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div >
            <label for="password" class="form-label">Password</label><br>
            <input type="password" name="password" class="form-control" required>
        </div>

      
          
        <button class="btn btn-success mt-2">Signup</button>
    </form>
        
   </div>
